/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html { height: 100%; } 
body { min-height: 100%; position: relative; }

body {
  background-color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #0a2d66; }
a:hover   { color: #214783; }
a:visited { color: #2a5f88; }

ul { padding: 0; }


/*****************************************************************************/
/*
/* Background
/*
/*****************************************************************************/

.background, .background .container, .background .row, 
.background-left, .background-right, .background-mobile, .line-dark, .line-light { 
  height: 100%;
}
.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background: url(/img/noise.png) repeat;
}
  .background .container_12 { height: 100%; }
  .background .background-left {
    background: url(/img/drum_dance_rhythm.png) no-repeat;
    background-position: left 40px;
  }
  .background .background-right {
    width: 99999999px;
  }

  .background .background-right, .background .background-mobile {
    background: rgba(0,0,0,0.1);
  }

  .background .background-mobile {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .background .line-dark, .background .line-light {
    width: 1px;
    position: absolute;
    top: 0;
  }
  .background .line-dark {
    background: rgba(0,0,0,0.15);
    left: -1px;
  }
  .background .line-light {
    background: rgba(255,255,255,0.3);
    left: 0;
  }


/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.header {
  margin-top: 90px;
}
  .title { margin-bottom: 45px; position: relative; }
  .title:after {
      content: '';
      display: block;
      padding-top: 12.24%; /* ratio of height to width of logo.png */
  }
  .title a {
    position: absolute;
    display: block;
    text-indent: -999999px;
    opacity: 0.6;
    background: url(/img/logo.png) no-repeat;
    background-size: 100% auto;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .title a:hover { opacity: 1; }

  .main-navigation {
    clear: both;
  }
    .main-navigation li {
      list-style: none;
      float: left;
      margin: 0 20px 0 0;
    }
    .main-navigation li:last-child { margin: 0; }
    .main-navigation li a {
      font: 24px Impact, sans-serif;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 1s;
      -webkit-transition: color 1s; /* Safari */
    }

    .main-navigation li.active a { text-decoration: underline; }
    .main-navigation li.active a, .main-navigation li a:hover {
      color: #0a2d66;
    }

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/
.sidebar {
  text-align: right;
}

  .sidebar ul li {
    list-style: none;
  }

/*****************************************************************************/
/*
/* Social Links
/*
/*****************************************************************************/
.social-links {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

  .social-links li {
    list-style: none;
    float: left;
    margin: 0 -15px 0 0;
    opacity: 0.3;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 1s, opacity 1s;
    -webkit-transition: -webkit-filter 1s, opacity 1s;
  }
  .social-links li:last-child { margin-right: 0; }
  .social-links li:nth-child(2n) { margin-top: 28px;}

  .social-links:hover li {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
  .social-links li:hover {
    opacity: 1;
  }
    .social-links li a {
      display: block;
      width: 32px;
      height: 35px;
      text-indent: -99999px;
    }
    .social-links .youtube a    { background: url(/img/social/youtube.png); }
    .social-links .facebook a   { background: url(/img/social/facebook.png); }
    .social-links .twitter a    { background: url(/img/social/twitter.png); }
    .social-links .instagram a  { background: url(/img/social/instagram.png); }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.drum-dance-rhythm {

}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Press links
/*
/*****************************************************************************/
.press-list li {
  list-style: none;
  margin: 0 0 15px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.press-list li:last-child {
  border: none;
  margin: 0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  line-height: 1.5em;
  position: relative;
  z-index: 1;
}

/*****************************************************************************/
/*
/* Cast page
/*
/*****************************************************************************/
.cast ul li {
  list-style: none;
  margin: 0;
}

/*****************************************************************************/
/*
/* Member page
/*
/*****************************************************************************/
.member-photo {
  max-width: 100%;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 2em;
}

  .footer .copyright {
    text-align: center;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Member popover
/*
/*****************************************************************************/
.popover {
  width: 800px;
  max-width: 400px;
}
  .member-popover-photo {
    max-width: 100%;
  }


/*****************************************************************************/
/*
/* Show
/*
/*****************************************************************************/
.carousel-inner .item a img {
  max-height: 600px;
}

.show-poster {
  max-width: 100%;
}

.full-width-img {
  max-width: 100%;
}