---
layout: about
title: Press
active_nav: About
active_subnav: Press
---

<h1>Press</h1>

<ul class='press-list'>
	{% for link in site.data.press %}
		<li class="row">
			<div class="col-sm-3"><em>{{ link.date }}</em></div>
			<div class="col-sm-9">
				<h4><a href="{{link.href}}">{{ link.title }}</a></h4>
				<p>{{ link.source }}</p>
			</div>
		</li>
	{% endfor %}
</ul>