---
layout: default
title: "Boomshaka: Drum. Dance. Rhythm."
active_nav: Home
---

<div id="home">
  <div class='row'>
	  <div class='col-md-7'><div class='jumbotron'>
	  	  <p class='fitvids-container'>
	  	  	<iframe width="1280" height="720" src="//www.youtube.com/embed/eABidB9OSZ4?showinfo=0" frameborder="0" allowfullscreen></iframe>
	  	  </p>
		  <p>Northwestern University's premier drum, dance, and rhythm ensemble.</p>
	  </div></div>
	  <div class='col-md-5'>
	  	<img class='full-width-img' src='/img/photos/norris_gig.jpg' />
	  </div>
  </div>
</div>