---
layout: media
title: Photos
active_nav: Media
active_subnav: Photos
---

<h1>Photos</h1>

<p>
	For more photos of Boomshaka, check out our 
	<a href="https://www.facebook.com/boomshaka">Facebook</a> 
	and 
	<a href="http://instagram.com/Boomshaka_NU">Instagram</a> 
	pages.
</p>

<iframe class="embedded-album" scrolling="yes" marginheight="0" frameborder="0" width="662" style="overflow-y: scroll; overflow-x: hidden; height: 513px;" src="http://facebookgalleria.com/gallery.php?&amp;id=boomshaka&amp;row=4&amp;width=140&amp;title_color=000000&amp;exclude="></iframe>