<div class="background"><div class="container"><div class="row">
  	<div class="background-left col-md-3">
  	</div>
    <div class="background-right col-md-offset-3">
    	<div class="line-dark"></div>
    	<div class="line-light"></div>
    </div>
    <div class="background-mobile visible-sm visible-xs"></div>
</div></div></div><!-- /.container /.row /.background -->