<h1>Boomshaka Cast {{ page.year }} - {{ page.year | plus:1 }}</h1>

<div class="cast-administrative row">
	<div class="col-sm-6">
		{% if include.directors %}
		<ul class="directors">
			<h3>Artistic Directors</h3>
			{% for director in include.directors %}
				<li>{% include member_link.html member=director %}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if include.treasurers %}
		<ul class="treasurers">
			<h3>Treasurers</h3>
			{% for treasurer in include.treasurers %}
				<li>{% include member_link.html member=treasurer %}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if include.public_relations %}
		<ul class="public-relations">
			<h3>Public Relations</h3>
			{% for pr in include.public_relations %}
				<li>{% include member_link.html member=pr %}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="col-sm-6">
		{% if include.producers %}
		<ul class="producers">
			<h3>Producers</h3>
			{% for producer in include.producers %}
				<li>{% include member_link.html member=producer %}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if include.equipment_managers %}
		<ul class="equipment-managers">
			<h3>Equipment Managers</h3>
			{% for equip in include.equipment_managers %}
				<li>{% include member_link.html member=equip %}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>

<div class="cast">
	<h3>Cast</h3>
	<ul class="row">
		{% for member in cast %}
		<li class="col-md-4 col-sm-6">
			{% include member_link.html member=member %}
		</li>
		{% endfor %}
	</ul>
</div>