<footer class="footer">
	<section class="footer-links row">
		<div class="col-md-6">
			<h3>Find us on</h3>
			<ul class="footer-social">
				<li><a href="https://www.youtube.com/BoomshakaTV">Youtube</a></li>
				<li><a href="https://www.facebook.com/boomshaka">Facebook</a></li>
				<li><a href="https://twitter.com/Boomshaka_NU">Twitter</a></li>
				<li><a href="http://instagram.com/Boomshaka_NU">Instagram</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Our sponsors</h3>
			<ul class="footer-sponsors">
				<li><a href="http://promark.com">Promark</a></li>
			</ul>
		</div>
	</section>
	<p class="copyright">Copyright &copy; 2013 <a href="/">Boomshaka</a></p>
</footer>