<div class="member-popover clearfix">
	{% if include.member.photo %}
		<div class="row">
			<div class="col-sm-3"><img class='member-popover-photo img-thumbnail' src='/img/members/{{ include.member.photo }}' /></div>
			<div class="col-sm-9">
				{{ include.member.content | truncatewords: 20 }}
				<p><em>Click to read on...</em></p>
			</div>
		</div>
	{% else %}
		{{ include.member.content | truncatewords: 20 }}
		<p><em>Click to read on...</em></p>
	{% endif %}
</div>