<nav class="main-navigation">
  <ul class="clearfix">
  	{% for link in site.data.navigation %}
  		{% if page.active_nav == link.name %}
  			{% assign link_class = 'active' %}
  		{% else %}
  			{% assign link_class = '' %}
  		{% endif %}
  		<li class="{{ link_class }}"><a href="{{ link.href }}">{{ link.name }}</a></li>
  	{% endfor %}
  </ul>
</nav>