<div class="social-links hidden-xs">
	<ul>
		<li class="youtube"><a href="https://www.youtube.com/BoomshakaTV">Youtube</a></li>
		<li class="facebook"><a href="https://www.facebook.com/boomshaka">Facebook</a></li>
		<li class="twitter"><a href="https://twitter.com/Boomshaka_NU">Twitter</a></li>
		<li class="instagram"><a href="http://instagram.com/Boomshaka_NU">Instagram</a></li>
	</ul>
</div>