<nav class="subnav">
	<h1 class="subnav-title">{{ include.title }}</h1>
	<ul>
		{% for link in include.links %}
			{% if page.active_subnav == link.name %}
				{% assign link_class = 'active' %}
			{% else %}
				{% assign link_class = '' %}
			{% endif %}
			<li class="{{ link_class }}"><a href="{{ link.href }}">{{ link.name }}</a></li>
		{% endfor %}
</nav>