---
layout: default
---

<div id="shows-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	{% assign count = site.categories.shows | size %}
  	{% for show in site.categories.shows %}
  		<li {% if forloop.index == 1 %}class="active"{% endif %} data-target="#shows-carousel" data-slide-to="{{ forloop.index | minus: 1 }}"></li>	
  	{% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	{% for show in site.categories.shows %}
	    <div class="item {% if forloop.index == 1 %}active{% endif %}">
		    <a href="{{ show.url }}">
				<img class="center-block" src="/img/shows/{{ show.poster }}" alt="{{ show.name }}" />
				<div class="carousel-caption">
					<h3>Boomshaka {{ show.year }}: {{ show.name }}</h3>
				</div>
		      </a>
	    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#shows-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#shows-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>