---
layout: base
---

{% include header.html %}

<div class="row main-row">
	<aside class="sidebar col-md-3">
	    {% include subnav.html title="About" links=site.data.about_subnav %}
	</aside><!-- /.sidebar -->

	<section class="main col-md-8 col-md-offset-1">
	    <section class="content">
	      {{ content }}
	    </section>

	    {% include footer.html %}
	</section><!-- /.main -->
</div><!-- /.main-row -->