<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="site container">
          
          {{ content }}

        </div><!-- /.site -->

        {% include background.html %}
        {% include social_links.html %}

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/jquery.fitvids.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>

        $(function() {

            $(".member-popover-link").each(function() {
                var $link = $(this);
                $link.popover({
                    title: $link.attr('data-original-title'),
                    content: $link.attr('data-content'),
                    html: true,
                    trigger: 'hover',
                    container: 'body',
                    placement: 'auto right'
                });
            });

            $("#shows-carousel").carousel();

            $(".fitvids-container").fitVids();
        });

        </script>
    </body>
</html>
