---
layout: base
active_nav: Cast
---

{% include header.html %}

<div class="row main-row">
    {% assign year = page.year %}

    {% assign directors_key = "directors_" | append: year %}
    {% assign directors = site.tags[directors_key] %}

    {% assign producers_key = "producers_" | append:year %}
    {% assign producers = site.tags[producers_key] %}

    {% assign treasurers_key = "treasurers_" | append:year %}
    {% assign treasurers = site.tags[treasurers_key] %}

    {% assign pr_key = "public_relations_" | append:year %}
    {% assign pr = site.tags[pr_key] %}

    {% assign equip_key = "equipment_managers_" | append:year %}
    {% assign equip = site.tags[equip_key] %}

    {% assign cast_key = "cast_" | append:year %}
    {% assign cast = site.tags[cast_key] %}

    <aside class="sidebar col-md-3">
        <nav class="subnav">
            <h1 class="subnav-title">Cast</h1>
            <ul>
                {% for cast in site.categories.cast %}
                    {% if cast == site.categories.cast.first %}
                        {% assign name = "Current" %}
                        {% assign url = "/cast/current" %}
                    {% else %}
                        {% assign name = cast.year %}
                        {% assign url = cast.url %}
                    {% endif %}

                    {% if page.active_subnav == link.name %}
                        {% assign link_class = 'active' %}
                    {% else %}
                        {% assign link_class = '' %}
                    {% endif %}
                    <li class="{{ link_class }}"><a href="{{ url }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside><!-- /.sidebar -->

    <section class="main col-md-8 col-md-offset-1">

        <section class="content">
          {% include cast.html directors=directors producers=producers treasurers=treasurers equipment_managers=equip public_relations=pr cast=cast %}
        </section>

        {% include footer.html %}
    </section><!-- /.main -->
</div><!-- /.main-row -->