---
layout: base
---

{% include header.html %}

<div class="row main-row">
	<section class="main col-md-8 col-md-offset-4">
	    <section class="content">
	      {{ content }}
	    </section>

	    {% include footer.html %}
	</section><!-- /.main -->
</div><!-- /.main-row -->