---
layout: default
---

<div class="row">
	{% if page.photo %}
	<section class="col-md-4 member-photo-wrapper">
		<img class="member-photo" src="/img/members/{{ page.photo }}" />
	</section>
	{% endif %}

	<section class="{% if page.photo %}col-md-8{% else %}col-md-12{% endif %} member-details">
		<h1 class="member-name">{{ page.name }}</h1>

		<section class="member-years">
			<p class="text-muted">
				<span class="badge"><small>CASTS</small></span>
				{% for tag in page.tags %}
					{% assign parts = tag | split: '_' %}
					{% if parts.first == 'cast' %}
						{% assign year = parts[1] %}
						
						<a href="/cast/{{ year }}"><small>{{ year }}</small></a>
					{% endif %}
				{% endfor %}
			</p>
		</section>

		<section class="member-bio">
			{{ content }}
		</section>
	</section><!-- /.member-details -->
</div>