---
layout: base
active_nav: Shows
---

{% include header.html %}

<div class="row main-row">

	<aside class="sidebar col-md-3">
		<h1 class="subnav-title">Shows</h1>
		<ul>
		{% assign shows = site.categories.shows %}

		{% for show in shows %}
			<li {% if page.year == show.year %}class="active"{% endif %}><a href="{{ show.url }}">{{ show.year }}: {{ show.name }}</a></li>
		{% endfor %}
		</ul>
	</aside>

	<section class="main col-md-8 col-md-offset-1">
		<h1>Boomshaka {{ page.year }}: {{ page.name }}</h1>
		<div class="row">
			<div class="col-md-6">
				<img class="show-poster" src="/img/shows/{{ page.poster }}" alt="{{ page.name }} poster" />
			</div>
			<div class="col-md-6">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}

	</section><!-- /.main -->

</div><!-- /.main-row -->